<!-- apps/configurator/templates/configurator/base.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'configurator/css/configurator.css' %}">
{% endblock %}

{% block content %}
    <div class="ts-config-base">


        <!-- Основной контент -->
        <main class="ts-config-content">
            {% block configurator_content %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'configurator/js/configurator.js' %}"></script>
{% endblock %}