{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset_done.css' %}">
{% endblock %}
{% block content %}
<!-- Добавляем уникальный контейнер -->
<div class="password-done-container">
    <div class="d-flex align-items-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card shadow auth-form">
                        <div class="card-body">
                            <h3 class="card-title text-center">Инструкции отправлены</h3>
                            <p class="text-center mt-4">Проверьте ваш email для сброса пароля.</p>
                            <div class="text-center mt-3">
                                <a href="{% url 'login' %}" class="btn btn-secondary">Вернуться к входу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}