{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
{% endblock %}
{% block content %}
<!-- Добавляем уникальный контейнер -->
<div class="password-confirm-container">
    <div class="d-flex align-items-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card shadow auth-form">
                        <div class="card-body">
                            <h3 class="card-title text-center">Новый пароль</h3>
                            <form method="post" class="mt-4">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Новый
                                        пароль</label>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтверждение
                                        пароля</label>
                                    {{ form.new_password2 }}
                                </div>
                                <button type="submit" class="btn btn-success w-100 mt-4">Сохранить пароль</button>
                            </form>
                            <div class="text-center mt-3">
                                <a href="{% url 'login' %}">Вернуться к входу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}