{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="hero-section">
        <div class="row">
            <div class="col-12"><h1 class="display-4 mb-4">Добро пожаловать в SmartShop!</h1>
                <p class="lead">Магазин ПК и компьютерных комплектующих</p>
                <div class="mt-5"><a href="/catalog" class="btn btn-primary btn-lg">Перейти в каталог</a></div>
            </div>
        </div>
    </div>
{% endblock %}